@tailwind base;
@tailwind components;
@tailwind utilities;

.inside-box{
    color: white;
    width: 45%;
    margin: 50px auto;
    align-items: center ;
    background-color: #395678;
    filter: drop-shadow(0px 4px 4px rgba(163, 161, 255, 0.16));
    border-radius: 15px;
}
.form-head{
    font-size: 2rem;
    font-weight:bolder;
    align-items: center;
    padding: 10px auto;
    margin: 10px auto;
}
.form{
    margin: 10px auto;
    padding: 0px;
    width: 40%;
}
.form-input{
    margin: 20px auto;
}
.form label{
    font-size: 17px;
    font-weight: 400;
}
.form input{
    height: 48.764px;
    border:2px solid rgb(120, 116, 116);
    border-radius: 10px;
}
.form ::placeholder{
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    padding: 20px;
    margin: 15px;
}
.btn-publish{
    margin: auto;
    width: 278.397px;
    height: 47.923px;
    border-radius: 40px;
    background: #395678;
    box-shadow: 0px 4px 6px 0px rgba(163, 161, 255, 0.16);
    color: #ffffff;
    font-size: 17px;
    font-weight:bolder;
    /* line-height: normal; */
    letter-spacing: 2.3px;
    text-transform: uppercase;
}
.form input[type="date"]{
    padding: 20px;
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}
.congo{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 30%;
    padding: 20px;
    margin: auto;
    height: 113.413px;
    border-radius: 20px;
    background: #9FD4EC;
    box-shadow: 0px 4px 6px 0px rgba(163, 161, 255, 0.16);
}
.congo-wrap{
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

